* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 430px) {

  @font-face {
      font-family: 'sonder_slabblack_rough';
      src: url('sonderslab-blackrough-webfont.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }

  body {
    background-color: #FFD500;
    color: black;
  }

  .hero {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 50vh;
    background-image: url('img/hero_2.png');
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }

  h1 {
    font-family: 'sonder_slabblack_rough';
    font-size: 55px;
    text-align: center;
    color: white;
    padding-top: 20vh;
  }

  .sub-title {
    text-align: center;
    font-family: 'sonder_slabblack_rough';
    font-size: 14px;
    padding: 0;
    color: white;
  }

  .info {
    text-align: justify;
    padding: 10px 0 30px 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
  }

  h2 {
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .fast-facts {
    margin: 30px 20px;
    line-height: 1.7;
  }

  .address {
    border-bottom: 2px solid white;
    color: white;
    cursor: pointer;
    transition: 0.5s;
  }

  .address:hover {
    color: black;
    border-bottom: 2px solid black;
    transition: 0.5s;
  }

  .fact-list {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0;
  }

  .small-item {
    font-size: 12px;
    margin-left: 30px;
  }

  .list-icon {
    height: 20px;
    padding-right: 10px;
  }

  /* ------------------------------- */
  /* -----------OUR STORY----------- */
  /* ------------------------------- */

  .hero-2 {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 25vh;
    background-image: url('img/hero2.png');
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }

  .hero-2 > h2 {
    font-family: 'sonder_slabblack_rough';
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 12vh;
  }

  .our-story {
    padding: 60px 20px;
    line-height: 1.7;
  }

  .our-story > h2 {
    font-size: 1.5em;
  }



  /* ------------------------------- */
  /* -------------MENU-------------- */
  /* ------------------------------- */

  .hero-3 {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 25vh;
    background-image: url('img/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }

  .hero-3 > h2 {
    font-family: 'sonder_slabblack_rough';
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 12vh;
  }

  .menu {
    text-align: center;
    margin: 30px 20px;
    line-height: 1.7;
  }

  ul {
    padding: 20px 0;
  }

  h4 {
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  /* ------------------------------- */
  /* ------------CAREERS------------ */
  /* ------------------------------- */

  .hero-4 {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 25vh;
    background-image: url('img/careers.png');
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }

  .hero-4 > h2 {
    font-family: 'sonder_slabblack_rough';
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 12vh;
  }

  .careers {
    text-align: center;
    margin: 30px 20px;
    line-height: 1.7;
  }

  .careers > p {
    text-align: left;
  }

  a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
  }

  a:hover {
    color: black;
    transition: color 0.5s;
  }
  /* ------------------------------- */
  /* ----------NEWSLETTER----------- */
  /* ------------------------------- */

  .newsletter {
    background-color: white;
    padding: 20px;
  }

  .newsletter > h2 {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
  }

  .newsletter > p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  form {
    margin: 0 auto 20px auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  button {
    padding: 10px 23px;
    background-color: #FFD500;
    border: none;
  }

  input {
    padding: 10px;
    width: 175px;
    border: 2px solid #FFD500;
    margin: 0;
  }

  input::placeholder {
    color: black;
  }

  /* ------------------------------- */
  /* -------------FOOTER------------ */
  /* ------------------------------- */


  footer {
    width: 100%;
    height: 200px;
    position: relative;
  }

  .socialIcons {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   margin: 0 auto;
  }

  .socialIcons > li {
    padding: 0 5px;
  }





}
